PROXMOX_STORAGE="local"
# note that directories in /opt/pve-importer/var must be created
UPLOAD_DIRECTORY="/opt/pve-importer/var/uploads"
DATABASE_URL="sqlite:///var/app.db" # e.g. resolves to /opt/pve-importer/var/app.db if installed in /opt/pve-importer
MESSENGER_TRANSPORT_DSN=doctrine://default
DEFAULT_URI="example.com"
