PROXMOX_STORAGE="local"
# note that directories in /opt/pve-importer/var must be created
UPLOAD_DIRECTORY="/opt/pve-importer/var/uploads"
DATABASE_USER='pve_importer'
DATABASE_PASSWORD='P@$$w0rd'
DATABASE_HOST='127.0.0.1'
DATABASE_PORT='3306'
DATABASE_NAME='pve_importer'
MESSENGER_TRANSPORT_DSN=doctrine://default
DEFAULT_URI="example.com"
