PROXMOX_STORAGE="local"
# note that directories in /opt/pve-importer/var must be created
UPLOAD_DIRECTORY="/opt/pve-importer/var/uploads"
DATABASE_URL="mysql://pve_importer:P@$$w0rd@127.0.0.1:3306/pve_importer"
MESSENGER_TRANSPORT_DSN=doctrine://default
DEFAULT_URI="example.com"
