.file-input-container {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
}

#message {
    display: none;
    border: 2px solid;
    border-radius: 4px;
    color: var(--background);
}