.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#auth-error-container {
    display: flex;
    justify-content: center;
}